In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}

In [3]:
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [4]:
df=pd.read_csv('transactions.csv')

In [5]:
df.head()

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [6]:
df.tail()

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [7]:
df.shape

(10, 5)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 528.0+ bytes

In [9]:
df.describe()

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [10]:
df['TransactionID']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: TransactionID, dtype: int64

In [17]:
df[['TransactionID','UserID']]

   TransactionID  UserID
0              1     7.0
1              2     3.0
2              3     3.0
3              4     1.0
4              5     2.0
5              6     2.0
6              7     3.0
7              8     NaN
8              9     7.0
9             10     3.0

In [18]:
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
Foo                1
dtype: int64

In [19]:
# 1. Print Summary of transaction data set
print("Summary of transaction dataset:")
print(df.describe(include='all'))

Summary of transaction dataset:
       TransactionID      TransactionDate    UserID  ProductID   Quantity  \
count       10.00000                   10  9.000000  10.000000  10.000000
mean         5.50000  2013-05-08 14:24:00  3.444444   3.400000   3.300000
min          1.00000  2010-08-21 00:00:00  1.000000   2.000000   1.000000
25%          3.25000  2011-10-03 06:00:00  2.000000   2.250000   1.000000
50%          5.50000  2013-09-14 00:00:00  3.000000   4.000000   3.000000
75%          7.75000  2014-03-26 06:00:00  3.000000   4.000000   3.750000
max         10.00000  2016-05-08 00:00:00  7.000000   5.000000  10.000000
std          3.02765                  NaN  2.127858   1.074968   2.869379

             Foo
count   9.000000
mean    7.000000
min     3.000000
25%     6.000000
50%     7.000000
75%     7.000000
max    11.000000
std     2.179449

In [22]:
# 2. Print Numbers of Attributes
print("\nNumber of attributes (columns):", df.shape[1])

Number of attributes (columns): 6

In [ ]:
# 3. Print Numbers of Records
print("Number of records (rows):", df.shape[0])

In [23]:
# 4. Get the row names (index values)
print("\nRow names:")
print(df.index)

Row names:
RangeIndex(start=0, stop=10, step=1)

In [24]:
# 5. Get the column names
print("\nColumn names:")
print(df.columns.tolist())

Column names:
['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity', 'Foo']

In [25]:
# 6. View top 10 records
print("\nTop 10 Records:")
print(df.head(10))

Top 10 Records:
   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2        10   9.0
1              2      2011-05-26     3.0          4         1   7.0
2              3      2011-06-16     3.0          3         1   6.0
3              4      2012-08-26     1.0          2         3   3.0
4              5      2013-06-06     2.0          4         1   6.0
5              6      2013-12-23     2.0          5         6   7.0
6              7      2013-12-30     3.0          4         1   7.0
7              8      2014-04-24     NaN          2         3   NaN
8              9      2015-04-24     7.0          4         3  11.0
9             10      2016-05-08     3.0          4         4   7.0

In [26]:
# 7. Change the name of column “Quantity” to “Quant”
df.rename(columns={'Quantity': 'Quant'}, inplace=True)

In [27]:
# 8. Change the name of columns ProductID and UserID to PID and UID respectively
df.rename(columns={'ProductID': 'PID', 'UserID': 'UID'}, inplace=True)

In [30]:
\# 9. Order the rows of transactions by TransactionId descending
df_sorted_by_transaction = df.sort_values(by='TransactionID', ascending=False)

In [31]:
df_sorted_by_transaction

   TransactionID TransactionDate  UID  PID  Quant   Foo
9             10      2016-05-08  3.0    4      4   7.0
8              9      2015-04-24  7.0    4      3  11.0
7              8      2014-04-24  NaN    2      3   NaN
6              7      2013-12-30  3.0    4      1   7.0
5              6      2013-12-23  2.0    5      6   7.0
4              5      2013-06-06  2.0    4      1   6.0
3              4      2012-08-26  1.0    2      3   3.0
2              3      2011-06-16  3.0    3      1   6.0
1              2      2011-05-26  3.0    4      1   7.0
0              1      2010-08-21  7.0    2     10   9.0

In [32]:
# 10. Order the rows of transactions by Quantity ascending, TransactionDate descending
df_sorted_by_quantity = df.sort_values(by=['Quant', 'TransactionDate'], ascending=[True, False])
print("\nTransactions sorted by Quantity ascending, TransactionDate descending:")
print(df_sorted_by_quantity.head())

Transactions sorted by Quantity ascending, TransactionDate descending:
   TransactionID TransactionDate  UID  PID  Quant   Foo
6              7      2013-12-30  3.0    4      1   7.0
4              5      2013-06-06  2.0    4      1   6.0
2              3      2011-06-16  3.0    3      1   6.0
1              2      2011-05-26  3.0    4      1   7.0
8              9      2015-04-24  7.0    4      3  11.0

In [33]:
# 11. Set the column order
df = df[['PID', 'Quant', 'TransactionDate', 'TransactionID', 'UID']]
df

   PID  Quant TransactionDate  TransactionID  UID
0    2     10      2010-08-21              1  7.0
1    4      1      2011-05-26              2  3.0
2    3      1      2011-06-16              3  3.0
3    2      3      2012-08-26              4  1.0
4    4      1      2013-06-06              5  2.0
5    5      6      2013-12-23              6  2.0
6    4      1      2013-12-30              7  3.0
7    2      3      2014-04-24              8  NaN
8    4      3      2015-04-24              9  7.0
9    4      4      2016-05-08             10  3.0

In [34]:
# 12. Make UserID the first column
df = df[['UID', 'PID', 'Quant', 'TransactionDate', 'TransactionID']]
df

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2     10      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [35]:
# 13. Extract the 2nd column as an array
second_column_array = df.iloc[:, 1].values
second_column_array

array([2, 4, 3, 2, 4, 5, 4, 2, 4, 4])

In [36]:
# 14. Get the ProductID Array
product_id_array = df['PID'].values
product_id_array

array([2, 4, 3, 2, 4, 5, 4, 2, 4, 4])

In [37]:
# 15. Get the ProductID Array using a variable
column_name = 'PID'
product_id_array_var = df[column_name].values
product_id_array_var

array([2, 4, 3, 2, 4, 5, 4, 2, 4, 4])

In [38]:
# 16. Subset rows 1, 3, and 6
subset_rows_1_3_6 = df.iloc[[0, 2, 5]]
subset_rows_1_3_6

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2     10      2010-08-21              1
2  3.0    3      1      2011-06-16              3
5  2.0    5      6      2013-12-23              6

In [39]:
# 17. Subset rows excluding 1, 3, and 6
subset_excluding_1_3_6 = df.drop(index=[0, 2, 5])
subset_excluding_1_3_6

   UID  PID  Quant TransactionDate  TransactionID
1  3.0    4      1      2011-05-26              2
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [40]:
# 18. Subset the first three rows
subset_first_3_rows = df.iloc[:3]
subset_first_3_rows

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2     10      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3

In [41]:
21. Boxplot of sales of different manufacturer
22. Boxplot of other numerical variables w.r.t manufacture
23. Divide the data into input and output y=sales in
thousand, x=all other variables
24. Encode other categorical variables using label encoder
25. Encode categorical variable vehicle type using one-hot
encoder
26.Split the data set into train and test set 70% train set
10% test set
27. Apply feature scaling on numerical variables
# 19. Subset the last 2 rows
subset_last_2_rows = df.iloc[-2:]

In [42]:
# 21. Subset rows excluding the first 3 rows
subset_excluding_first_3 = df.iloc[3:]
subset_excluding_first_3

   UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [43]:
# 22. Subset rows where Quantity > 1
subset_quantity_gt_1 = df[df['Quant'] > 1]
subset_quantity_gt_1

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2     10      2010-08-21              1
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [44]:
# 23. Subset rows where UserID = 2
subset_userid_2 = df[df['UID'] == 2]
subset_userid_2

   UID  PID  Quant TransactionDate  TransactionID
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6

In [45]:
# 24. Subset rows where Quantity > 1 and UserID = 2
subset_quantity_gt_1_userid_2 = df[(df['Quant'] > 1) & (df['UID'] == 2)]
subset_quantity_gt_1_userid_2

   UID  PID  Quant TransactionDate  TransactionID
5  2.0    5      6      2013-12-23              6

In [46]:
# 25. Subset rows where Quantity + UserID > 3
subset_quantity_userid_gt_3 = df[(df['Quant'] + df['UID']) > 3]
subset_quantity_userid_gt_3

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2     10      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [47]:
# 26. Subset rows where an external array, foo, is True
foo = [True if x % 2 == 0 else False for x in range(len(df))]
subset_foo_true = df[pd.Series(foo)]
subset_foo_true

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2     10      2010-08-21              1
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9

In [48]:

# 27. Subset rows where an external array, bar, is positive
bar = [x - 2 for x in range(len(df))]
subset_bar_positive = df[pd.Series(bar) > 0]

In [49]:
# 28. Subset rows where foo is TRUE or bar is negative
subset_foo_true_or_bar_negative = df[(pd.Series(foo)) | (pd.Series(bar) < 0)]

In [50]:
# 29. Subset the rows where foo is not TRUE and bar is not negative
subset_not_foo_true_and_not_bar_negative = df[(~pd.Series(foo)) & (pd.Series(bar) >= 0)]

In [51]:

# 30. Subset by columns 1 and 3
subset_columns_1_3 = df.iloc[:, [0, 2]]

In [52]:
# 31. Subset by columns TransactionID and TransactionDate
subset_transactionid_date = df[['TransactionID', 'TransactionDate']]

In [53]:
# 32. Subset by columns TransactionID and TransactionDate with logical operator
subset_transactionid_date_logic = df.loc[:, ['TransactionID', 'TransactionDate']]

In [54]:

# 33. Subset columns by a variable list of column names
columns_list = ['TransactionID', 'Quant']
subset_variable_columns = df[columns_list]

In [55]:
# 34. Subset columns excluding a variable list of column names
exclude_columns = ['TransactionID', 'Quantity']
subset_excluding_variable_columns = df.drop(columns=exclude_columns)

KeyError: "['Quantity'] not found in axis"

In [56]:
# 35. Inserting and updating values
df.loc[0, 'Quantity'] = 10  # Example update: Set Quantity in the first row to 10

/tmp/ipykernel_4686/2941952216.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[0, 'Quantity'] = 10  # Example update: Set Quantity in the first row to 10

In [57]:
# 36. Convert the TransactionDate column to type Date
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])

/tmp/ipykernel_4686/1902740909.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])

In [14]:
# 37. Insert a new column, Foo=UserID+ProductID
df['Foo'] = df['UserID'] + df['ProductID']